/* Objetivos del que va a reliazar las Moficaciones de CSS
  como minimo debe de relizar 10 modificacionees en la rama 
  ya previamente armada los valores permitidos a modificar 
  son lo que van a usar los que van  a trabajar en la plantilla 
  de html ...  */

/*Hoja de Estilos*/
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  text-align: center;
  color: white;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color: rgb(5, 206, 172);
  font-weight: bold;
  padding: 0px 10px;
  transition: 0.5s;
  font-size: 20px;
}
a:hover{
  color: white;
}
h2{
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 10px black;
}
section{
  border: 1px solid white;
  padding: 10px;
  padding-left: 30px;
  margin: 10px;
  width: 410px;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0px;
}
#jaime{
  background-color: rgb(238, 73, 23);
}
footer{
  width: 100%;
  text-align: center;
  background-color: rgb(7, 54, 92);
  padding: 10px 0px;
  color: white;
}
footer div{
  margin-top: 10px;
}
#jaime, #jesi, #santi, #joseluis, #mireya, #andres{
  position: relative;
  box-shadow: 5px 5px 20px black;
}
img{
  /*position: absolute;*/
  display: block;
  width: 130px;
  height: 130px;
  background-color: white;
  top: 0;
  right: 0;
  margin: 10px auto;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 5px 5px 20px rgba(0,0,0,1);
}

#santi{
  background-color: #666666FF;
}
#jesi{
  background-color: rgb(148, 0, 116);
}
 
#joseluis{
  background-color: rgb(78, 101, 230);
} 

#mireya{
  background-color: rgb(185, 153, 11);
} 

#andres{
  background-color: rgb(13, 226, 84);
} 
